<template>
    <div id="app">
        <v-app id="inspire">
            <v-content>
                <v-navigation-drawer permanent app>
                    <v-list dense>
                        <v-list-tile v-on:click="subSectionDialog=true" class="pl-0 pr-0 ma-0">
                            <v-btn block color="indigo" dark>
                                <v-list-tile-action>
                                    <v-icon>add</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>New Sub Section</v-list-tile-title>
                                </v-list-tile-content>
                            </v-btn>
                        </v-list-tile>
                        <v-list-tile v-for="item in subSections" :key="item.id">
                            <v-btn block @click="getQuestions(item.id)">
                                <v-list-tile-content>
                                    <v-list-tile-title>{{item.prettyLabel}}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-btn>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>
                <v-toolbar color="indigo" dark>
                    <v-toolbar-title>Application</v-toolbar-title>
                </v-toolbar>
                <v-layout row justify-center>
                    <v-dialog v-model="questionDialog">
                        <question-form
                                :question="question"
                                :method="questionMethod"
                                :subSection="selectedSubSection"
                                v-on:close-dialog="closeQuestionDialog()"
                        ></question-form>
                    </v-dialog>
                </v-layout>
                <v-layout row justify-center>
                    <v-dialog v-model="subSectionDialog">
                        <sub-section-form
                                :section="section"
                                v-on:close-dialog="subSectionDialog=false"
                        ></sub-section-form>
                    </v-dialog>
                </v-layout>
                <v-layout row justify-center>
                    <v-dialog v-model="deleteQuestionDialog" width="400px">
                        <delete-question
                                :question="question"
                                v-on:close-dialog="closeDeleteQuestionDialog()"
                        ></delete-question>
                    </v-dialog>
                </v-layout>
                <v-container fluid grid-list-md>
                    <div v-if="selectedSubSection">
                        <v-layout row wrap>
                        </v-layout>
                        <v-card>
                            <v-card-title><h2>{{selectedSubSection.prettyLabel}}</h2></v-card-title>
                            <v-card-text>{{selectedSubSection.description}}</v-card-text>
                            <v-card-actions>
                                <v-btn @click="questionDialog=true" color="indigo" dark><v-icon>add</v-icon> Add Question</v-btn>
                                <v-btn color="indigo" dark><v-icon>edit</v-icon></v-btn>
                            </v-card-actions>
                        </v-card>
                        <v-divider class="pb-1 pt-1"></v-divider>
                        <v-expansion-panel>
                            <v-expansion-panel-content
                                    v-for="item in questions"
                                    :key="item.id"
                            >
                                <v-layout slot="header" align-center>
                                    <v-btn color="indigo" dark @click="editQuestion(item)"><v-icon>edit</v-icon></v-btn>
                                    <v-btn color="yellow" dark><v-icon>file_copy</v-icon></v-btn>
                                    <v-btn color="red" dark @click="deleteQuestion(item)"><v-icon>cancel</v-icon></v-btn>
                                    <v-divider padding vertical></v-divider>
                                    <div class="pl-5"><h4>{{item.name}}</h4></div>
                                </v-layout>
                                <display-question :question="item"></display-question>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </div>
                </v-container>
            </v-content>
            <v-footer color="indigo" app inset>
            </v-footer>
        </v-app>
    </div>
</template>
<script>
    import axios from 'axios';
    import QuestionForm from './components/QuestionForm.vue'
    import SubSectionForm from './components/SubSectionForm.vue'
    import DeleteQuestion from './components/DeleteQuestion.vue'
    import DisplayQuestion from './components/DisplayQuestion.vue'

    export default {
        name: 'App',
        components: {
            QuestionForm,
            SubSectionForm,
            DeleteQuestion,
            DisplayQuestion
        },
        mounted: function() {
            //Section Hard codded for testing purposes
            this.getSection(this.section.id)
        },
        data: () => {
            return {
                drawer: null,
                modal: true,
                questionDialog: false,
                subSectionDialog: false,
                deleteQuestionDialog: false,
                section: {id: 1},
                subSections: [],
                selectedSubSection: null,
                questionMethod: 'create',
                questions: [],
                question: {},
                contentSelect: {state: 'Top'},
                loading: false,
                contentAlign: [
                    {state: 'Top'},
                    {state: 'Bottom'},
                    {state: 'Left'},
                    {state: 'Right'}
                ]
            }
        },
        methods: {
            getSection: function(sectionId) {
                axios.post(`http://127.0.0.1:8000/section/`,
                    {query: `query {
                                section(id:`+ sectionId + `){
                                  name,
                                  section{
                                    id,
                                    label,
                                    prettyLabel,
                                    description
                                 }
                              }
                            }`
                    })
                    .then((response) => {
                        // JSON responses are automatically parsed.
                        this.section = response.data.data.section
                        this.subSections = response.data.data.section.section
                        if (!this.selectedSubSection) {
                            this.selectedSubSection = this.subSections[0]
                        }
                        this.getQuestions(this.selectedSubSection.id)
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })

            },
            getQuestions: function (subSectionId) {
                axios.post(`http://127.0.0.1:8000/sub/section/`,
                    {query: `{
                        subSection(id:`+ subSectionId +`){
                            id,
                            prettyLabel,
                                description,
                                questions{
                                    id,
                                    name,
                                    content,
                                    answerSet{
                                        id,
                                        value,
                                        label
                                    }
                            }
                        }
                    }`
                    })
                    .then((response) => {
                        this.selectedSubSection = response.data.data.subSection
                        this.questions = response.data.data.subSection.questions
                    })
                    .catch(e => {
                        this.errors.push(e)
                    })


            },
            editQuestion: function (question) {
                this.questionMethod = 'update'
                this.question = question
                this.questionDialog = true
            },
            closeQuestionDialog: function () {
                this.questionMethod = null
                this.question = {}
                this.questionDialog = false
                this.getQuestions()
            },
            deleteQuestion: function (question) {
                this.deleteQuestionDialog = true
                this.question = question
            },
            closeDeleteQuestionDialog: function () {
                this.question = {}
                this.deleteQuestionDialog = false
            }
        },
    }
</script>
