<template>
    <v-layout row wrap>
        <v-flex xs8 sm4>
            <v-text-field
                    label="Label"
                    v-model="answer.label"
                    required
            ></v-text-field>
        </v-flex>
        <v-flex xs8 sm4 md3>
            <v-text-field
                    label="Value"
                    v-model="answer.value"
                    required
            ></v-text-field>
        </v-flex>
        <v-flex xs4 sm2>
            <v-btn color="indigo" dark @click="updateOrCreateAnswer()"><v-icon>save</v-icon></v-btn>
        </v-flex>
        <v-flex xs4 sm2>
            <v-btn color="red" dark @click="deleteAnswer()"><v-icon>cancel</v-icon></v-btn>
        </v-flex>
        <v-divider padding vertical></v-divider>
    </v-layout>
</template>

<script>
    import axios from 'axios'
    export default {
        props: {
            answer: {},
            question: {},
            new: false
        },
        data: () => ({
            loading: false,
            success:false,
        }),
        methods: {
            deleteAnswer: function () {
                this.loading = true
                axios.delete('http://127.0.0.1:8000/api/answers/' + this.answer.id + '/')
                    .then((response) => {
                        if (response.statusCode() === 204)  {
                            this.$emit('answer-deleted')
                        }
                    })
            },
            createAnswer: function () {
                this.loading = true
                axios.post('http://127.0.0.1:8000/api/answers/', {
                    question: this.question.id,
                    label: this.answer.label,
                    value: this.answer.value
                })
                    .then((response) => {
                        if (response.statusCode() === 201)  {
                            this.$emit('answer-added')
                        }
                    })
            },
            updateAnswer: function () {
                 axios.patch('http://127.0.0.1:8000/api/answers/', {
                    question: this.question.id,
                    label: this.answer.label,
                    value: this.answer.value
                })
                    .then((response) => {
                        if (response.statusCode() === 200)  {
                            this.$emit('answer-added')
                        }
                    })
            },
            updateOrCreateAnswer: function () {
                if (this.answer.new) {
                    this.createAnswer()
                }
                else {
                    this.updateAnswer()
                }
            }
        }
    }
</script>

<style>

</style>
