<template>
    <v-card>
        <v-toolbar dark color="red">
            <v-btn icon dark @click="$emit('close-dialog')">
                <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Delete Question?</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
            Are You Sure You Want To  Delete {{question.name}}, this can not be undone
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn @click="createQuestion()">submit</v-btn>
            <v-btn @click="$emit('close-dialog')">clear</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import axios from 'axios'
    export default {
        props: {
            question: {}
        },
        data: () => ({
            loading: false,
            success:false,
            subSection: {}
        }),
        methods: {
            createQuestion: function () {
                this.loading = true
                axios.delete('http://127.0.0.1:8000/api/questions/' + this.question.id + '/')
                    .then((response) => {
                        if (response.statusCode() === 204)  {
                            this.$emit('close-dialog')
                        }
                    })
            }
        }
    }
</script>

<style>

</style>
