<template>
    <v-card>
        <v-card-text>{{question.content}}</v-card-text>
        <v-list>
            <v-list-tile v-for="item in question.answerSet" :key="item.id">
                <answer-form :answer="item" :question="question"></answer-form>
            </v-list-tile>
        </v-list>
    </v-card>
</template>

<script>
    import axios from 'axios'
    import AnswerForm from './AnswerForm.vue'

    export default {
        components: {
            AnswerForm
        },
        props: {
            question: {}
        },
        data: () => ({
            loading: false,
            success:false,
            subSection: {}
        }),
        methods: {}
    }
</script>

<style>

</style>
