<template>
    <v-card>
        <v-toolbar dark color="primary">
            <v-btn icon dark @click="$emit('close-dialog')">
                <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Add A Question</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <form class="pl-5 pr-5">
            <v-text-field
                    :counter="20"
                    label="Question Name"
                    v-model="question.name"
                    required
            ></v-text-field>
            <v-text-field
                    label="Description"
                    v-model="question.description"
                    required
            ></v-text-field>
            <v-textarea
                    label="Content"
                    v-model="question.content"
                    counter
                    maxlength="1000"
                    class="pb-5"
            ></v-textarea>
            <v-divider></v-divider>
            <div class="pb-5 pt-1"><h3>Answers</h3></div>
            <v-btn @click="addAnswer()" color="indigo" dark><v-icon>add</v-icon> Add Answer</v-btn>
            <v-list>
                <v-list-tile v-for="item in question.answerSet" :key="item.id">
                    <answer-form :answer="item" :question="question"></answer-form>
                </v-list-tile>
            </v-list>
            <v-btn @click="submitForm()">submit</v-btn>
            <v-btn @click="$emit('close-dialog')">clear</v-btn>
        </form>
    </v-card>
</template>

<script>
    import axios from 'axios'
    import AnswerForm from "./AnswerForm";
    export default {
        components: {AnswerForm},
        props: {
            question: {
                default: {
                    name: null,
                    description: null,
                    content: null,
                    answerSet: []
                }
            },
            method: {
                default: 'create'
            },
            subSection: {}
        },
        data: () => ({
            loading: false,
            success:false
        }),
        methods: {
            createQuestion: function () {
                this.loading = true
                axios.post('http://127.0.0.1:8000/api/questions/', {
                    section: [this.subSection.id],
                    name: this.question.name,
                    description: this.question.description,
                    content: this.question.content
                })
                    .then((response) => {
                        this.success = true
                        this.loading = false
                    })
            },
            updateQuestion: function () {
                this.loading = true
                axios.patch('http://127.0.0.1:8000/api/questions/', {
                    name: this.question.name,
                    description: this.question.description,
                    content: this.question.content
                })
                    .then((response) => {
                        this.success = true
                        this.loading = false
                    })
            },
            submitForm: function () {
                if (this.method === 'update') {
                    this.updateQuestion()
                }
                else {
                    this.createQuestion()
                }
                this.$emit('close-dialog')
            },
            addAnswer: function() {
                this.question.answerSet.push({value: null, label: null})
            }
        }
    }
</script>

<style>

</style>
