<template>
    <v-card>
        <v-toolbar dark color="primary">
            <v-btn icon dark @click="$emit('close-dialog')">
                <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Add A Sub Section</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <form class="pl-5 pr-5">
            <v-text-field
                    :counter="20"
                    label="Sub Section"
                    v-model="subSection.label"
                    required
            ></v-text-field>
            <v-text-field
                    label="Sub Section Name"
                    v-model="subSection.prettyLabel"
                    required
            ></v-text-field>
            <v-textarea
                    label="Description"
                    v-model="subSection.description"
                    counter
                    maxlength="1000"
            ></v-textarea>
            <v-divider></v-divider>
            <v-subheader>Answer</v-subheader>
            <v-btn @click="createSubSection()">submit</v-btn>
            <v-btn>clear</v-btn>
        </form>
    </v-card>
</template>

<script>
    import axios from 'axios'
    export default {
        props: {
             section: {}
            },
        data: () => ({
            loading: false,
            success:false,
            subSection: {}
        }),
        methods: {
            createSubSection: function () {
                this.loading = true
                axios.post('http://127.0.0.1:8000/api/sub/section/', {
                    section: [this.section.id],
                    label: this.subSection.label,
                    pretty_label: this.subSection.prettyLabel,
                    description: this.question.description
                })
                    .then((response) => {
                        if (response.statusCode() === 201)  {
                            this.$emit('sub-section-added')
                        }
                    })
            }
        }
    }
</script>

<style>

</style>
